{{!< layout.hbs}}

<h1>{{page.title}}</h1>
<div class="project">
{{#if page.metadata.image}}
    <img src="{{page.metadata.image}}" />
{{/if}}
    <div class="content">
        <div class="description">
            {{{page.html}}}
        </div>
        <div class="technologies">
            <h3>Technologies Used</h3>
            {{{splitter page.metadata.technology}}}
        </div>
        <a href="{{page.metadata.url}}" target="_blank">Visit live site</a>
    </div>
</div>
